.gif-component {
  margin-bottom: .5em;
}
.gif-link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}

.gif-component h4{
  background: rgba(0, 0, 0, .3);
  bottom: 0;
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: absolute;
}

.gif-component img {
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

i {
  font-size: 80px;
}

/* ############ List Of Gif ###########*/


.ListOfGifs {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0 16px;
  align-items: center;
  grid-template-rows: masonry;
}

.ListOfGifs-item {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}

/*###########SPINNER#########*/

.spinner {
  border: 8px solid rgba(0,0,0, .1);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border-left-color: rgb(0, 217, 255);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ########### CATEGORY ##############*/

.categoryTitle {
  color: white;
  font-weight: bold;
}

.categoryList {
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categoryLink {
  color: white;
  font-size: 1em;
  transition: color ease-in 0.1s;
}

.categoryLink:hover {
  color: #8c55a2;
}

@media screen and (min-width: 640px) {
  .categoryList {
    display: list-item;
  }

  .categoryList li::before {
    color: #8c55a2;
    margin-right: 0.5em;
    font-size: 1em;
  }
}


/*########### Not Found ################*/

.FourOhFour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #424040;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    mix-blend-mode: overlay;
  }
  
  .code {
    font-family: 'Alfa Slab One', cursive;
    font-size: 144px;
    height: 100vh;
    color: rgb(255, 249, 249);
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    background-size: cover;
    justify-content: center;
  }
