.App {
  text-align: center;
}

.App-Content {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

.appLogo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
  
}

.appLogo img {
  object-fit: cover;
  width: 100%;
}

.appTitle {
  color: white;
}

.appWrapper {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 0.5em;
}

.appMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appResults {
  flex-shrink: 2;
  width: 100%;
}

.appCategory {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 55rem){
  .appMain{
    flex-direction: initial;
  }

  .appCategory{
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
    margin-left:16px ; 
  }
}

.btn {
  border: 1px solid transparent;
  padding: .5rem 1rem;
  background-color: var(--brand-color_3);
  color: var(--theme-body-txt);
  cursor: pointer;
  font-size: 1rem;
}

.btn[disabled] {
  opacity: .3;
  pointer-events: none;
}

.btn:hover {
  background-color: var(--brand-color_6);
}

